*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
body{
    overflow-x: hidden;
}
.navbar{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url(../Fond&img/top.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero header{
    padding: 40px 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.hero header .logo h3 {
    display: block;
    color: #194da1;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}
.hero header nav nav-list{
    list-style: none;
}
.hero header nav .nav-list li{
    display: inline-block;
}
.hero header nav .nav-list li a{
    display: inline-block;
    text-decoration: none;
    color: #292d33;
    margin-left: 55px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.hero header nav .nav-list li:not(:last-child) a:hover,
.hero header nav .nav-list li:not(:last-child) a:focus {
    border-bottom: 2px solid #292d33;
}
.hero header nav .nav-list li.active a{
    border-bottom: 2px solid #292d33;
}
.hero header nav .nav-list li.btn a{
    color: #1e56a3;
    background: transparent;
    border: 2px solid #1e56a3;
    padding: 10px 32px;
    line-height: 1.1;
}
.hero header nav .nav-list li.btn:hover a{
    color: #ffe299;
    background: #1e56a3;
    border: 2px solid #1e56a3;
    transition: .3s;
}
.hero .banner{
    padding-top: 200px;
}
.hero .banner .txt{
    margin-bottom: 40px;
}
.hero .banner .txt h1{
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    color: #1e56a3;
    margin: 15px 0px 15px;
}
.hero .banner .txt h2{
    color: #292d33;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
}
.hero .banner .txt p{
    max-width: 100%;
    width: 400px;
    color: #292d33;
    line-height: 1.5;
    margin-bottom: 20px;
}
.hero header nav .ham{
    height: 24px;
    width: 35px;
    position: absolute;
    right: 3%;
    top: 45px;
    z-index: 5;
    background: tomato;
    cursor: pointer;
    display: none;
}
.hero header nav .ham span{
    display: block;
    width: 100%;
    height: 3px;
    background: #1e56a3;
    transition: .3s;
    transition-property: transform,opacity;
}
.hero header nav .ham span:nth-child(2){
    margin: 7px 0px;
}
@media screen and (max-width: 900px) {
    .hero header nav .ham span{
        display: block;    
    }
    .hero header {
       display: none;
   }
}
